<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MESManager.Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <span class="nav-link disabled">
                <span class="bi bi-calendar3" aria-hidden="true"></span> Programma
            </span>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/programma/gantt-macchine">
                <span class="bi bi-calendar-check" aria-hidden="true"></span> Gantt Macchine
            </NavLink>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/programma/programma-macchine">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Programma Macchine
            </NavLink>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/programma/commesse-aperte">
                <span class="bi bi-folder2-open" aria-hidden="true"></span> Commesse Aperte
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <span class="nav-link disabled">
                <span class="bi bi-folder" aria-hidden="true"></span> Cataloghi
            </span>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/cataloghi/anime">
                <span class="bi bi-collection" aria-hidden="true"></span> Anime
            </NavLink>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/cataloghi/preventivi">
                <span class="bi bi-file-earmark-text" aria-hidden="true"></span> Preventivi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <span class="nav-link disabled">
                <span class="bi bi-gear-wide-connected" aria-hidden="true"></span> Produzione
            </span>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/produzione/plc-realtime">
                <span class="bi bi-cpu-fill" aria-hidden="true"></span> PLC Realtime
            </NavLink>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/produzione/gantt-storico">
                <span class="bi bi-bar-chart-steps" aria-hidden="true"></span> Gantt Storico
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <span class="nav-link disabled">
                <span class="bi bi-sliders" aria-hidden="true"></span> Impostazioni
            </span>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/impostazioni/utenti">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Gestione Utenti
            </NavLink>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/impostazioni/festivi">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> Festivi
            </NavLink>
        </div>
        <div class="nav-item px-3 ms-3">
            <NavLink class="nav-link" href="/impostazioni/issue-log">
                <span class="bi bi-bug-fill" aria-hidden="true"></span> Issue Log
            </NavLink>
        </div>
    </nav>
</div>

