@page "/produzione/incollaggio"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = MESManager.Web.Constants.PaginaPolicy.Incollaggio)]

<PageTitle>Incollaggio</PageTitle>

<div data-testid="page-incollaggio">
	<MudText>Pagina predisposta per gestione processo di incollaggio</MudText>
</div>
